@model Asp.NetCore_Inventory_Order_Management_System.Models.WarehouseLocation

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>WarehouseLocation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LocationName" class="control-label"></label>
                <input asp-for="LocationName" class="form-control" />
                <span asp-validation-for="LocationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aisle" class="control-label"></label>
                <input asp-for="Aisle" class="form-control" />
                <span asp-validation-for="Aisle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shelf" class="control-label"></label>
                <input asp-for="Shelf" class="form-control" />
                <span asp-validation-for="Shelf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bin" class="control-label"></label>
                <input asp-for="Bin" class="form-control" />
                <span asp-validation-for="Bin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

