@model Asp.NetCore_Inventory_Order_Management_System.Models.Order

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <select asp-for="CustomerId" class ="form-control" asp-items="ViewBag.CustomerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="OrderDate" class="control-label"></label>
                <input asp-for="OrderDate" class="form-control" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShipToAddress" class="control-label"></label>
                <input asp-for="ShipToAddress" class="form-control" />
                <span asp-validation-for="ShipToAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShipToCity" class="control-label"></label>
                <input asp-for="ShipToCity" class="form-control" />
                <span asp-validation-for="ShipToCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShipToState" class="control-label"></label>
                <input asp-for="ShipToState" class="form-control" />
                <span asp-validation-for="ShipToState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShipToCountry" class="control-label"></label>
                <input asp-for="ShipToCountry" class="form-control" />
                <span asp-validation-for="ShipToCountry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShipToPostalCode" class="control-label"></label>
                <input asp-for="ShipToPostalCode" class="form-control" />
                <span asp-validation-for="ShipToPostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalAmount" class="control-label"></label>
                <input asp-for="TotalAmount" class="form-control" />
                <span asp-validation-for="TotalAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

